<div class="container">
    <input type="text" [(ngModel)] ="name"/>
    <div>
    <strong>{{name}}</strong>
    </div>
    <button mat-raised-button color="primary" (click)="counter()">Click me</button>
    {{ count }}
</div>
<mat-divider></mat-divider>
<mat-divider></mat-divider>





<!--<div fxLayout="row" style="color: green; background: red; margin: 30px 0;">
    <div flex>
        First item. I'm on mobile, and to the left on larger screenI'm on mobile, and to the left on larger screen
        I'm on mobile, and to the right on larger screen
    </div>
    <div flex>
            Second item. I'm on mobile, and to the left on larger screenI'm on mobile, and to the left on larger screen
            I'm on mobile, and to the right on larger screen
    </div>
    <div flex>
            First item. I'm on mobile, and to the left on larger screenI'm on mobile, and to the left on larger screen
            I'm on mobile, and to the right on larger screen
        </div>
        <div flex>
                Second item. I'm on mobile, and to the left on larger screenI'm on mobile, and to the left on larger screen
                I'm on mobile, and to the right on larger screen
        </div>
        <div flex>
                First item. I'm on mobile, and to the left on larger screenI'm on mobile, and to the left on larger screen
                I'm on mobile, and to the right on larger screen
            </div>
            <div flex>
                    Second item. I'm on mobile, and to the left on larger screenI'm on mobile, and to the left on larger screen
                    I'm on mobile, and to the right on larger screen
            </div>
</div>

<div fxLayout="row">
        <div flex="20">
            First item. I'm on mobile, and to the left on larger screenI'm on mobile, and to the left on larger screen
            I'm on mobile, and to the right on larger screen
        </div>
        <div flex="80">
                Second item. I'm on mobile, and to the left on larger screenI'm on mobile, and to the left on larger screen
                I'm on mobile, and to the right on larger screen
        </div>
</div>

<div fxLayout="row"  fxLayoutAlign="center" style="background: red;">
        <mat-tab-group  mat-stretch-tabs="always" mat-align-tabs="start" dynamicHeight style="width:70%; height: 40vh;">
                <mat-tab label="First reading">
                        <h4>Welcome, This is the first tab ! Welcome, This is the first tab ! There you go, I stand second fxFlex fxLayout
                        This is the first tab ! There you go, I stand second fxFlex fxLayoutThis is the first tab ! There you go, I stand second fxFlex fxLayout
                        </h4>
                </mat-tab>
                <mat-tab label="Second reading" >
                        <h4>There you go, I stand second There you go, I stand second There you go, I stand second</h4>
                </mat-tab>
                <mat-tab label="Third reading">
                        <h4>At last, you got to me.</h4>
                </mat-tab>
        </mat-tab-group>
</div>
<mat-divider></mat-divider>
<div fxLayout="row"  fxLayoutAlign="center" style="margin: 20px 0; background: green;">
        <mat-tab-group mat-selected="2" mat-stretch-tabs="auto" mat-align-tabs="bottom" dynamicHeight style="width:60%; height: 40vh;" mat-swipe-content>
                <mat-tab label="Tab-A">
                        <h4 class="text-centered">Welcome, This is the first tab !</h4>
                </mat-tab>
                <mat-tab label="Tab-B">
                        <h4  class="text-centered">There you go, I stand second</h4>
                        <div>
                                There you go, I stand secondThere you go, I stand secondvThere you go, I stand secondThere you go, I stand secondvThere you go, I stand second
                                There you go, I stand secondThere you go, I stand secondvvvvThere you go, I stand secondThere you go, I stand secondThere you go, I stand secondThere you go, I stand second
                                There you go, I stand secondThere you go, I stand second
                 Removing Lorem ipsum for readability
                        <br/>
                        </div>
                </mat-tab>
                <mat-tab label="Tab-C" >
                                <h4 class="text-centered">At last, you got to me.</h4>
                </mat-tab>
        </mat-tab-group>
</div>
-->